.textoEMapa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px; 
}

.textinhoJogo {
    flex: 1;
    max-width: 40%;
    padding: 10px;
}

.paragraph {
    margin-bottom: 16px;
    font-size: 1.25rem;
    text-align: justify;
    margin-left: 32px;
    line-height: 1.75rem;
}

button.jogarDeBaixoDoTexto {
    width: 200px;
    font-size: 1.25rem;
    border: none;
    border-radius: 20px;
    background-color: var(--vermelho-escuro);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 32px;
    margin-right: auto; 
    transition: background-color 0.3s;
    text-decoration: none;
}

button.jogarDeBaixoDoTexto:hover {
    background-color: #A05252; 
}

.imagemDoLado {
    flex: 1; 
    max-width: 60%;
    display: flex; 
    justify-content: flex-end; 
}

.imagemDoLado .image {
    width: 100%; 
    height: auto; 
    max-width: 800px; 
    max-height: 400px;
    border-radius: 10px; 
}

@media (max-width: 768px) {
    .textoEMapa {
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }

    .textinhoJogo {
        max-width: 100%; 
        text-align: center;         
    }

    .paragraph {
        text-align: center;
        font-size: 1rem;
        margin-left: 0;
    }

    .imagemDoLado {
        max-width: 100%; 
        text-align: center; 
        justify-content: center; 
    }
}