.carrosselDiv {
    position: relative;
}

.icon {
    background-color: black; /* Cor de fundo dos ícones */
    border-radius: 10px; /* Arredondar os ícones */
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}