.carouselItemImgWrapper {
  width: 100%;
  height: 75vh;
  position: relative;
  overflow: hidden;
}

.carouselItemImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carouselExampleFade {
  z-index: 1;
}

.carousel-caption {
  top: 25%;
  text-align: center;
}

.prevNextBtn {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .carouselItemImgWrapper {
    height: 50vh;
  }

  .carouselItemImg {
    height: 100%;
  }
}