/* codigo para os botoes da navbar */
button.navbarButton {
    background-color: transparent;
    color: #fff;
    font-size: 1.4em;
    padding: 6px 20px; 
    border: none;   
    cursor: pointer;
    transition: border-bottom 0.3s; 
}

button.navbarButton:hover {
    border-bottom: 4px solid var(--vermelho-escuro); 
    margin-bottom: -2px; 
}

.noticiasMain {
    text-align: center;
    margin: 50px 0;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticiasSection {
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}