/* Card */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  max-width: 320px; 
  height: 250px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.card:last-child {
  margin-bottom: 16px;
}

.card:hover {
  transform: scale(1.02);
}

.addCharacter,
.characterBox {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addCharacter {
  background: #eee;
}

.bigSymbol {
  font-size: 3rem;
  color: #666;
}

.characterBox {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aaa;
  position: relative;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actions {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.iconBtn {
  width: 50px;
  height: 50px;
  font-size: 1.20rem;
  border: none;
  background-color: #181818;
  color: white;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.iconBtn::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--vermelho-escuro);
  transition: width 0.3s ease-in-out;
}

.iconBtn:hover {
  transform: scale(1.05);
}

.cardFooter {
  background: #b72d2d;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 0.6rem;
}

/* ===== Responsividade ===== */

/* Celulares pequenos */
@media (max-width: 480px) {
  .card {
    height: 220px;
  }

  .bigSymbol {
    font-size: 2.5rem;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .card {
    height: 240px;
  }
}