.containersComNovidades {
    display: flex;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    width: 100%;
}

@media (max-width: 768px) {
    .containersComNovidades {
        width: auto;
    }
}