.noticiaContainer {
    background-color: var(--background-color);
    max-width: 500px;
    min-width: 34%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    position: relative;
}

.noticiaContainer::before {
    content: "";
    background-color: var(--overlay-1dp);
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: 15px;
}

.imageSection {
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.image {
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.infoSection {
    padding: 0 25px 20px 25px;
}

.noticiaContainer .title {
    text-align: justify;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

.noticiaContainer .paragraph {
    text-align: justify;
    line-height: 1.2em;
    overflow: visible;
    white-space: normal;
    max-height: none;
}


@media (max-width: 600px) {
    .noticiaContainer {
        min-width: 100%;
    }
}