/* Estilo da section */
section.termos {
    background-color: white; 
    width: 99%;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Estilo do texto dentro da section */
section.termos .titulo-3 {
    font-size: 28px;
    color: #333; 
    margin-bottom: 15px; 
}

section.termos .paragrafo {
    text-align: justify; 
    color: #000; 
    line-height: 1.6; 
    margin-bottom: 20px;
}