/* Estilo da section */
section.termos {
    background-color: var(--overlay-1dp);
    color: rgb(210, 210, 210);
    width: 99%;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Estilo do texto dentro da section */
section.termos .titulo-3 {
    font-size: 28px;
    color: rgb(190, 190, 190); 
    margin-bottom: 15px;
    font-weight: bold;
}

section.termos .paragrafo {
    text-align: justify; 
    line-height: 1.6; 
    margin-bottom: 20px;
}