/* parte das novidades / carrocel de novidades */
article.novidades {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

article.novidades h1 {
    background-color: var(--preto-navbar);
    color: white;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 2.5em;
}

.prevIcon,
.nextIcon {
    background-color: black; /* Cor de fundo dos ícones */
    border-radius: 10px; /* Arredondar os ícones */
    padding: 20px;
}

.novidadesCarousel .carousel-control-prev-icon {
    margin-right: 65px;    
}

.novidadesCarousel .carousel-control-next-icon {
    margin-left: 65px;    
}

div.containersComNovidades {
    display: flex;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    width: 100%;
}

div.containerNovidade {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 10px; 
    width: 300px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

div.containerNovidade:hover {
    transform: scale(1.05); 
}

div.containerNovidade img {
    width: 100%; 
    height: 150px; 
}

div.containerNovidade p {
    margin-top: 10px; 
    text-align: left; 
    font-size: 16px;
    font-weight: bold;
    text-indent: 1em;
    line-height: 1.7em;
}