/* codigo para os botoes da navbar */
button.navbarButton {
    background-color: transparent;
    color: #fff;
    font-size: 1.4em;
    padding: 6px 20px; 
    border: none;   
    cursor: pointer;
    transition: border-bottom 0.3s; 
}

button.navbarButton:hover {
    border-bottom: 4px solid var(--vermelho-escuro); 
    margin-bottom: -2px; 
}

.characters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 50px;
}

.container {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.container:last-child {
    margin-bottom: 50px;
}