.personagensContainer {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: var(--cinza);
    padding: 25px 45px;
    margin: 0 50px;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .personagensContainer {
        flex: 1 1 40%; 
    }
}