.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titulo {
  font-size: 1.5rem;
  font-weight: bold;
}

.divFormEImagem {
  display: flex;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
}

.imagem {
  max-width: 500px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.btnSalvar {
  width: 80%;
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  background-color: var(--vermelho-escuro);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btnSalvar:hover {
  background-color: #8f473c;
}